/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    height: 100%;
    font: 12pt/14pt Verdana, sans-serif; /* AWK: added default font */
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*
 * Start of styling for the Tapas web app specifically
 */
header {
  background-color: #009999;
  color: #FFF;
  height: 55px;
  top: 0px;
  position: fixed;
  vertical-align: middle;
  font: bold 14pt Verdana, sans-serif;
  width: 100%;
}

header a {
  color: #FFF;
  font: bold 14pt Verdana, sans-serif;
  text-decoration: none;
}

header a:hover {
  color: #BF3030;
}

header div#rightNav {
  float: right;
  padding: 15px 30px 15px 30px;
}

header div#normalNav {
  padding: 15px 0px 15px 30px;
}

footer {
  background-color: #009999;
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: right;
  height: 65px;
}

footer img {
  margin: 5px
}

div#contentWrapper {
  width: 80%;
  margin: 75px auto 20px auto;
  padding-bottom: 65px;
}

/* some defaults for forms */
input {
  display: block;
  font: 12pt Verdana, sans-serif;
  margin: 5px 10px;
  width: 200 px;
}

input[type=file] {
  margin-left: 160px;
}

label {
  display: block;
  float: left;
  margin-right: 10px;
  width: 150px;
  text-align: right;
}

div#flash {
  color: red;
  border: 1px solid #000;
  margin: 20px auto 20px auto;
  width: 100%;
  padding: 15px;
  -moz-box-shadow: 0px 0px 3px 3px #ccc;
  box-shadow: 5px 5px 5px 0px #ccc;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font: bold 14pt Verdana, sans-serif;
}

